<% include partials/header %>


    <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase.js"></script>
    <script>
  // Initialize Firebase
    var config = {
    apiKey: "AIzaSyANdsKVA9aRHqJSzQxkTez7-9I-HFI6Vko",
    authDomain: "donationtracker-2bec2.firebaseapp.com",
    databaseURL: "https://donationtracker-2bec2.firebaseio.com",
    projectId: "donationtracker-2bec2",
    storageBucket: "donationtracker-2bec2.appspot.com",
    messagingSenderId: "515896993726"
  };
    firebase.initializeApp(config);
    </script>


<header class="jumbotron">
    <div class = "container">
    <h1>Locations page!</h1>
    <p> Here's a list of all the locations! </p>
    <p><a class = "btn btn-primary btn-large" href="/locationspage/newlocation"> Add Location</a></p>
    <div class = "container">
</header>


<div class="list-group">
    <% locations.forEach(function(location){ %>
    <div class="container">
    <a href="#" class="list-group-item list-group-item-action">
    <h3><%= location.name %> </h2>
    <h6> <%= location.city %> </h6>
    </a>
</div>






<% }); %>
</div>
<% include partials/footer %>
