<% include partials/header %>


<header class="jumbotron">
    <div class = "container">
    <h1>Locations page</h1>
    <p> Here's a list of all the locations! </p>
    <div class = "container">
</header>


<div class="list-group">

    <% locations.forEach(function(location){ %>
    <div class="container">

    <a href="/locationspage/<%= location.name %>" class="list-group-item list-group-item-action">
    <h3><%= location.name %> </h3>
    <h6> <%= location.city %> </h6>
    </a>
</div>






<% }); %>
</div>
